/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


@layer components {
	.scroll {
		overflow-y: auto;
		overflow-x: hidden;

    margin: 0 0 10px 0;
	}

	.scroll::-webkit-scrollbar {
		width:5px;
	}
	.scroll::-webkit-scrollbar-track {
		-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
		border-radius:5px;
	}
	.scroll::-webkit-scrollbar-thumb {
		border-radius:5px;
		-webkit-box-shadow: inset 0 0 6px #364955; 
	}

	.timeline {
		position: relative;
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		padding: 15px 0;
	}
	
	.timeline::after {
		content: '';
		position: absolute;
		width: 2px;
		background: rgb(17 24 39);
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -1px;
	}
	
	.card {
		padding: 15px 30px;
		position: relative;
		background: inherit;
		width: 50%;
	}

	.card.left {
		left: 0;
	}

	.card.right {
		left: 50%;
	}

	.card::after {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		top: calc(50% - 8px);
		right: -8px;
		background: #ffffff;
		border: 2px solid rgb(17 24 39);
		border-radius: 16px;
		z-index: 1;
	}

	.card.right::after {
		left: -8px;
	}

	.card::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 2px;
		top: calc(50% - 1px);
		right: 8px;
		background: rgb(17 24 39);
		z-index: 1;
	}

	.card.right::before {
		left: 8px;
	}

	.card .date {
		position: absolute;
		display: inline-block;
		top: calc(50% - 8px);
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: rgb(17 24 39);
		text-transform: uppercase;
		letter-spacing: 1px;
		z-index: 1;
	}

	.card.left .date {
		right: -100px;
	}

	.card.right .date {
		left: -100px;
	}

	.card .icon {
		position: absolute;
		display: inline-block;
		width: 40px;
		height: 40px;
		padding: 9px 0;
		top: calc(50% - 20px);
		background: rgb(125 211 252);
		border: 2px solid rgb(17 24 39);
		border-radius: 40px;
		text-align: center;
		font-size: 18px;
		color: rgb(17 24 39);
		z-index: 1;
	}

	.card.left .icon {
		right: 56px;
	}

	.card.right .icon {
		left: 56px;
	}

	.card .content {
		padding: 30px 90px 30px 30px;
		background: rgb(125 211 252);
		position: relative;
		border-radius: 0 500px 500px 0;
	}

	.card.right .content {
		padding: 30px 30px 30px 90px;
		border-radius: 500px 0 0 500px;
	}

	.card .content h2 {
		margin: 0 0 10px 0;
		font-size: 18px;
		font-weight: bold;
		color: rgb(17 24 39);
	}

	.card .content p {
		margin: 0;
		font-size: 16px;
		line-height: 22px;
		color: #000000;
	}
}